<div class="container">

     <div class="row">


		<div class="alert alert-success alert-dismissible">
		  <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Success!</strong> Indicates a successful or positive action.
		</div>

		<div class="alert alert-info alert-dismissible">
		  <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Info!</strong> Indicates a neutral informative change or action.
		</div>

		<div class="alert alert-warning alert-dismissible">
		  <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Warning!</strong> Indicates a warning that might need attention.
		</div>

		<div class="alert alert-danger alert-dismissible">
		  <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
		</div>

     </div>
</div>
