      <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <div class="container">
            <h1>Welcome on RequireAngular!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae  numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </div>
    </header>

    <hr>

    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center" >


            <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="card in cards">
                <div class="thumbnail">
                    <img src='{{card.image}}' alt="" />
                    <div class="caption">
                        <h3>{{card.getTitle()}}</h3>
                        <p>{{card.description}}</p>
                        <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                            
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>